img{
	max-width:100%;
	height:auto;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
.container {
    width: 95%;
}
.slider_aro {
    left: 50%;
}
.slider_curt {
    left: 85%;
}
.article01_single {
    width: 28%;
    margin-right: 8%;
}
.article01_img_head h2 {
    font-size: 12px;
}
.article01_text_aro p {
    font-size: 11px;
	text-align:justify;
}
.article01_img_head img {
   width:31px;
   height:30px;
}
.article02_inner {
    width: 100%;
}
.article02_inner h2 {
    margin-left: 35%;
}
.article03_single {
    width: 23%;
    margin-right: 2%;
}
.article03_single h2 {
    font-size: 13px;
}
.article03_single p {
    font-size: 11px;
}
.article03_a a {
    font-size: 14px;
}




}

@media only screen and (max-width: 767px) {
.container {
    width: 98%;
}
.logo {
    float: none;
    display: block;
    margin: auto;
    text-align: center;
	margin-bottom:25px;
}	
.nav {
    float: none;
}
.nav ul li {
    float: none;
    margin-left: 5px;
    margin-bottom: 15px;
	width:100%;
	background-color:green;
	text-align:center;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
}
.slider {
    display:none;
}	
.slider_bottom h2 {
    font-size: 15px;
}	
.slider_bottom p{
    text-align:justify;
}	
.slider_bottom {
    margin: 15px 15px 15px 15px;
}	
.article01_single {
    width: 95%;
    margin-right: 0px;
    float: none;
    margin: auto;
    text-align: justify;
	
}	
.article01 {
    margin-top: 5px;
    margin-bottom: 20px;
}	
.article01_single {
    margin-top: 20px;
}	
.article02_inner {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}	
.article02_inner h2 {
    width: 50%;
    margin-left: 30%;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}	
.article03_single {
    float: none;
    width: 97%;
    margin-right: 0px;
    margin: auto;
}	
.article03_img_text img{
    width:100%;
	height:100%;
}	
.footer_bg .lafta {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
}	
.footer_bg .righta {
    float: none;
    text-align: center;
    width: 100%;
    display: block;
}
.footer {
    margin-top: 16px;
}






}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
    width: 98%;
}
.logo {
    float: none;
    display: block;
    margin: auto;
    text-align: center;
	margin-bottom:25px;
}	
.nav {
    float: none;
}
.nav ul li {
    float: none;
    margin-left: 5px;
    margin-bottom: 15px;
	width:100%;
	background-color:green;
	text-align:center;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
}
.slider {
    display:none;
}	
.slider_bottom h2 {
    font-size: 15px;
}	
.slider_bottom p{
    text-align:justify;
}	
.slider_bottom {
    margin: 15px 15px 15px 15px;
}	
.article01_single {
    width: 95%;
    margin-right: 0px;
    float: none;
    margin: auto;
    text-align: justify;
	
}	
.article01 {
    margin-top: 5px;
    margin-bottom: 20px;
}	
.article01_single {
    margin-top: 20px;
}	
.article02_inner {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}	
.article02_inner h2 {
    width: 50%;
    margin-left: 30%;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}	
.article03_single {
    float: none;
    width: 97%;
    margin-right: 0px;
    margin: auto;
}	
.article03_img_text img{
    width:100%;
	height:100%;
}	
.footer_bg .lafta {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
}	
.footer_bg .righta {
    float: none;
    text-align: center;
    width: 100%;
    display: block;
}
.footer {
    margin-top: 16px;
}
	
	
	
		
}
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	

	
	
	
	
	
	
	
	
	
	
	
	
	
}








